<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Müşteri Sorgulama</h4>
            <p class="card-category">Müşteri seçimi</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <input id="search-input" numbersOnly matInput placeholder="TCKN" name="tckn" maxlength="11" [(ngModel)]="tckn" required (keyup.enter)="searchCustomer()" required />
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
              </div>

            </form>
            <div class="row" *ngIf="customer!=null">
              <mat-card class="w-100">
                <mat-form-field>
                  <mat-label>Id</mat-label>
                  <input matInput placeholder="Id" [(ngModel)]="customer.id" disabled>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Ad</mat-label>
                  <input matInput placeholder="Ad" [(ngModel)]="customer.firstName" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Soyad</mat-label>
                  <input matInput placeholder="Soyad" [(ngModel)]="customer.lastName" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Tc Kimlik</mat-label>
                  <input matInput numbersOnly placeholder="Tc Kimlik" [(ngModel)]="customer.nationalId" maxlength="11" required minlength="11">
                </mat-form-field>
              </mat-card>
              <button class="btn btn-danger btn-round" (click)="save()">Kaydet</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>